<%= form_tag passports_path, method: :get do %>
  <div class="fr-container d-flex">
    <div class="col mb-3">
      <%= select_tag("brand", options_for_select(Passport.distinct.pluck(:brand_name)), include_blank: true,
        class: "fr-btn fr-btn--secondary") %>
    </div>
    <div class="col mb-3">
      <%= date_field_tag "avaibility_date", "2021-10-16",
        class: "fr-btn fr-btn--secondary"%>
    </div>
    <div class="col mb-3">
      <%= text_field_tag :gender,
        params[:gender],
        class: "form-control ui-autocomplete-input",
        placeholder: "Entrez votre genre",
        class: "fr-btn fr-btn--secondary" %>
    </div>
    <div class="col mb-3">
      <%= submit_tag "Search", class: "fr-btn" %>
    </div>
  </div>
<% end %>

<div class="fr-container d-flex">
  <div class="fr-grid-row fr-grid-row--gutters">
    <% @passports.each_with_index do |passport, index| %>
        <div class="fr-col-3 fr-col-md-3">
          <div class="fr-card fr-enlarge-link p-3 m-1">

                <div class="fr-card__body">
                  <h4 class="fr-card__title">
                    <a href="#" class="fr-card__link"> <%= passport.brand_name %> <%= passport.gender %> </a>
                  </h4>
                  <p class="fr-card__desc">Pass Sanitaire utilisé <%= rand(10...44) %> fois, garanti personne vaccinée.</p>
                  <p class="fr-card__desc"><%= link_to "Détails", passport, style:"text-decoration:none; !important"%></p>
                </div>
          <div class="fr-card__img">
                <img src="https://picsum.photos/id/<%= rand(10...92) %>/200/300">
          </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<br>
<div class="fr-container">
  <button class='fr-btn m-3'><%= link_to "Revenir à la page d'accueil", root_path, style:"color:white !important;text-decoration:none; !important" %></button>
</div>
